{% extends 'base.html.twig' %}

{% block header %}
    <header class='l-header'>
        <div class='l-header__inner'>
            <a class='logo-wrapper unvisible' href='/' id='logotype'>
                <h1 class='logotype'>
                    <span class='active'>Best Quest</span>
                    <span>Настоящие Квесты</span>
                </h1>
            </a>
            <nav class='l-header__nav'>
                {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenu', [], {'index': true}) %}
                {{ knp_menu_render(menuItem) }}
            </nav>
            <div class='l-header__actions'>
                <div class='phone'>(812) 574 65 12</div>
                <div class='phone'>(921) 976 38 76</div>
                <div class='l-header__email'><a href="mailto:info@best-quest.ru">info@best-quest.ru</a></div>
                <div class='social'>
                    <a class='vk' href='https://vk.com/bqspbru' target='_blank'>
                        <svg enable-background='new 0 0 16 9.1' height='14px' space='preserve' version='1.1'
                             viewbox='0 0 16 9.1' width='14px' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink'
                             xmlns='http://www.w3.org/2000/svg' y='0px'>
                            <path clip-rule='evenodd'
                                  d='M14.9,2.7c0.4-0.5,0.8-1.1,1-1.7c0.1-0.4,0-0.6-0.4-0.7&#x000A;  c-0.1,0-0.1,0-0.2,0l-2.5,0c-0.3,0-0.5,0.1-0.6,0.4c-0.1,0.4-0.3,0.7-0.5,1.1c-0.4,0.8-0.9,1.6-1.5,2.3c-0.1,0.1-0.3,0.3-0.5,0.3&#x000A;  C9.4,4.3,9.3,3.8,9.3,3.6l0-2.9C9.3,0.3,9.2,0.1,8.8,0H6.1C5.8,0,5.6,0.1,5.4,0.4C5.3,0.5,5.3,0.6,5.5,0.6C5.9,0.7,6.2,1,6.2,1.4&#x000A;  c0.1,0.7,0.1,1.4,0,2.1c0,0.2-0.1,0.4-0.1,0.6C6,4.4,5.8,4.5,5.5,4.3C5.3,4.1,5.1,3.9,4.9,3.7C4.3,2.8,3.8,1.8,3.4,0.8&#x000A;  C3.3,0.5,3.1,0.3,2.8,0.3c-0.8,0-1.5,0-2.3,0C0,0.3-0.1,0.5,0.1,1c0.8,1.8,1.7,3.6,3,5.3c0.6,0.8,1.3,1.6,2.2,2.1&#x000A; c1,0.6,2.2,0.8,3.3,0.7c0.6,0,0.7-0.2,0.7-0.7c0-0.4,0.1-0.8,0.2-1.1c0.2-0.3,0.5-0.4,0.8-0.2c0.2,0.1,0.3,0.2,0.4,0.4&#x000A;  c0.3,0.3,0.6,0.7,0.9,1c0.4,0.4,0.9,0.7,1.5,0.6l2.3,0c0.4,0,0.6-0.5,0.4-0.9c-0.2-0.3-0.4-0.6-0.6-0.8c-0.5-0.6-1-1.1-1.6-1.6&#x000A;  c-0.5-0.5-0.5-0.7-0.1-1.3C14.1,3.9,14.5,3.3,14.9,2.7z'
                                  fill-rule='evenodd' fill='#FFFFFF'></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <main class='l-content l-main'>
        <section class='l-section l-section-home b-skew b-skew-bottom dark'>
            <div class='b-title-slide' id='title-slide'>
                <div class='table-cell'>
                    <article>
                        <div class='logo-wrapper'></div>
                        <h1 class='s-title main-color'>Best Quest</h1>
                        <div class='b-title-slide__slogan'>Настоящие квесты</div>
                        <div class="sub-slogan">Современные командные игры</div>
                    </article>
                </div>
            </div>
            {% include 'default/_slider.html.twig' %}
        </section>
        {% include 'default/_slider_categories.html.twig' %}
    </main>
{% endblock %}

{% block footer %}
{% endblock %}