{% extends 'base.html.twig' %}

{% block bodyclass %}index{% endblock %}

{% block header_div_additional_class %}{% endblock %}

{% block header_logo %}
    <a class='logo-wrapper unvisible' href='{{ path('app__main__index') }}' id='logotype'>
        <h1 class='logotype'>
            <span class='active'>Best Quest</span>
            <span>Игровые&nbsp;технологии мероприятий</span>
            <span>Делаем настоящие&nbsp;игры</span>
        </h1>
    </a>
{% endblock %}

{% block content %}
    <main class='l-content l-main'>
        <section class='l-section l-section-home b-skew b-skew-bottom dark'>
            <div class='b-title-slide' id='title-slide'>
                <div class='table-cell'>
                    <article>
                        <div class='logo-wrapper'></div>
                        <h1 class='s-title main-color'>Best Quest</h1>
                        <div class='b-title-slide__slogan'>Игровые&nbsp;технологии мероприятий</div>
                    </article>
                </div>
            </div>
            <div class="projects block">
                <div class="projects__wrapper block__wrapper">
                    {{ render(controller('AppBundle:Main:slider')) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <div class="mobile-overlay">
        <img src="{{ asset('img/bq-rotate.svg') }}" alt="заглушка">
    </div>
{% endblock %}

{% block footer_js %}
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ asset('libs/swiper/swiper.min.js') }}"></script>
{% endblock %}