{% extends 'base_old.html.twig' %}

{% block content %}
    <main class="l-content">
        <section class="l-section l-section-order b-skew b-skew-top light">
            <div class="b-text-wrapper">
                <article>
                    <h2 class="s-title">Ваша заявка принята. Менеджер best-quest свяжется с Вами в ближайшее время.</h2>
                </article>
                <a href="{{ path('app__homepage') }}">Вернуться на главную</a>
            </div>
        </section>
    </main>
{% endblock %}

{% block bodyclass %}

{% endblock %}

