{% extends 'base.html.twig' %}

{% block content %}
    <main class="l-content">
        <section class="l-section l-section-home b-skew b-skew-bottom dark">
            <div class="b-text-wrapper b-skew b-skew-top b-skew-bottom">
                <h1>Огонь, вода и баба Яга</h1>
            </div>
            <div class="b-bottom-icons">
                <div class="icon type">
                    <img src="/img/icons/type.png">
                    <p class="icontext">Фольклорное приключение</p>
                </div>
                <div class="icon people">
                    <img src="/img/icons/people.png">
                    <p class="icontext">от 10 до<br>25</p>
                </div>
                <div class="icon house">
                    <img src="/img/icons/location.png">
                    <p class="icontext">деревня Шуваловка</p>
                </div>
                <div class="icon car">
                    <img src="/img/icons/walk.png">
                    <p class="icontext">пешком</p>
                </div>
                <div class="icon clock">
                    <img src="/img/icons/clock.png">
                    <p class="icontext">от 2 до 3</p>
                </div>
                <div class="icon phone">
                    <img src="/img/icons/phone.png">
                    <p class="icontext">не обязательно</p>
                </div>
                <div class="icon age">
                    <img src="/img/icons/age.png">
                    <p class="icontext">18+</p>
                </div>
            </div>
        </section>
        <section class="l-section l-section-descr">
            <div class="b-text-wrapper">
                <article>
                    <h2 class="s-title">Описание</h2>
                    <p><b>ЦЕЛЬ ИГРЫ - СПАСИТИ ДЕРЕВНЮ ОТ КОЩЕЯ БЕССМЕРТНОГО</b><br><br>

                        Это сказочное приключение придумано специально для иностранных гостей нашей страны. Мы нашли интересный способ познакомить их с русскими традициями, объединив древнюю историю, развлечения, национальный колорит и шоу.
                        Мы готовы раскрыть вам наш секрет, он очень прост: за основу берем антураж русской деревни, добавляем в него любимых героев – Ивана Дурака, Бабу Ягу и Кощея Бессмертного, приправляем все загадкой, которую нужно разгадать, пройдя огонь и воду, и все что там еще полагается и завершаем все тайным ингредиентом – который, конечно хранится в яйце на кончике иглы.
                        В итоге получаем изумительный фольклорный квест, не уступающий лучшим мировым продуктам индустрии развлечений. Милости просим!</p>
                </article>
            </div>
        </section>
        <section class="l-section l-section-order b-skew b-skew-top b-skew-bottom light">
            <h2 class="s-title">Регламент</h2>
            <ol class="b-order">
                <li class="item">
                    <div class="b-order-block">
                        <h3>завязка</h3>
                        <p>Присказка и встреча с Иваном Дураком<br>10 - 20 минут</p>
                    </div>
                </li>
                <li class="item">
                    <div class="b-order-block">
                        <h3>Действие</h3>
                        <p>Сказочные испытания на ловкость, смекалку и силу<br>2 - 3 часа</p>
                    </div>
                </li>
                <li class="item">
                    <div class="b-order-block">
                        <h3>Кульминация</h3>
                        <p>Поиск смерти Кощея<br>10 - 20 минут</p>
                    </div>
                </li>
                <li class="item">
                    <div class="b-order-block">
                        <h3>Развязка</h3>
                        <p>Торжество добра над злом, пир на весь мир<br>20 минут</p>
                    </div>
                </li>
            </ol>
        </section>
        <section class="l-section l-section-photos b-skew b-skew-bottom dark">
            <h2 class="s-title white">Фотографии</h2>
            <div class="b-carousel" id="photos" style="overflow: hidden;">
                <ul class="list" style="transform: translateZ(0px) translateX(640px); width: 8746px;">
                    <li class="item active"><img width="634" height="495" src="/project_files/2/photos/photo-1.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-4.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-3.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-1.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-2.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-3.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-4.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-5.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-6.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-7.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-8.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-9.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-10.jpg"></li>
                    <li class="item"><img width="634" height="495" src="/project_files/2/photos/photo-11.jpg"></li>
                </ul>
                <div class="b-carousel__next">
                    <svg enable-background="new 0 0 45.8 45.8" height="45px" space="preserve" version="1.1" viewBox="0 0 45.8 45.8" width="45px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
                        <g>
                            <path d="M32.4,23.7H12.1c-0.4,0-0.6-0.4-0.6-0.9c0-0.5,0.3-0.9,0.6-0.9h20.3c0.4,0,0.6,0.4,0.6,0.9
        C33.1,23.3,32.8,23.7,32.4,23.7z" fill="#FFFFFF"></path>
                            <path d="M22.9,45.8C10.3,45.8,0,35.5,0,22.9S10.3,0,22.9,0s22.9,10.3,22.9,22.9S35.5,45.8,22.9,45.8z M22.9,1.7
        c-11.7,0-21.1,9.5-21.1,21.1C1.7,34.5,11.2,44,22.9,44C34.5,44,44,34.5,44,22.9C44,11.2,34.5,1.7,22.9,1.7z" fill="#FFFFFF"></path>
                            <polygon fill="#FFFFFF" points="29.9,16.3 36.5,22.9 29.9,29.4   "></polygon>
                        </g>
                    </svg>
                </div>
                <div class="b-carousel__prev disabled">
                    <svg enable-background="new 0 0 45.8 45.8" height="45px" id="Layer_1" space="preserve" version="1.1" viewBox="0 0 45.8 45.8" width="45px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
                        <g>
                            <path d="M13.3,22.1h20.3c0.4,0,0.6,0.4,0.6,0.9c0,0.5-0.3,0.9-0.6,0.9H13.3c-0.4,0-0.6-0.4-0.6-0.9
        C12.7,22.5,13,22.1,13.3,22.1z" fill="#FFFFFF"></path>
                            <path d="M22.9,0c12.6,0,22.9,10.3,22.9,22.9S35.5,45.8,22.9,45.8C10.3,45.8,0,35.5,0,22.9S10.3,0,22.9,0z M22.9,44
     C34.5,44,44,34.5,44,22.9c0-11.7-9.5-21.1-21.1-21.1c-11.7,0-21.1,9.5-21.1,21.1C1.7,34.5,11.2,44,22.9,44z" fill="#FFFFFF"></path>
                            <polygon fill="#FFFFFF" points="15.8,29.5 9.2,22.9 15.8,16.3    "></polygon>
                        </g>
                    </svg>
                </div>
            </div>
        </section>
        <section class="l-section l-section-narrow"></section>
        <section class="l-section l-section-reviews b-skew b-skew-bottom light">
            <div class="bg-top"></div>
            <div class="l-section__body b-skew b-skew-top light">
                <h2 class="s-title">Отзывы</h2>
                <div class="b-bordered-block b-review">
                    <div class="b-review__top">
                        <div class="avatar"><img width="128" height="128" src="/project_files/2/reviews/avatar-1.jpg"></div>
                        <div class="name">ФАРИД<br>РАФИКОВ</div>
                        <div class="company">formazon</div>
                        <div class="position">Руководитель</div>
                    </div>
                    <div class="b-review__bottom">
                        <p>Выражаю огромную благодарность всему коллективу BestQuest за прекрасную организацию и проведение корпоративной игры “Элемент зажигания”.<br><br>
                            Событие отставило только положительные эмоции...<br><br>
                            И впредь будем обращаться к вам за новыми впечатлениями!</p>
                    </div>
                </div>
                <div class="b-bordered-block b-review">
                    <div class="b-review__top">
                        <div class="avatar"><img width="128" height="128" src="/project_files/2/reviews/avatar-2.jpg"></div>
                        <div class="name">НАТАЛЬЯ<br>КЛЕМАЗОВА</div>
                        <div class="company">Вадрат</div>
                        <div class="position">Арт-директор</div>
                    </div>
                    <div class="b-review__bottom">
                        <p>Все так замечательно прошло, спасибо BestQuest!<br><br>
                            Все остались очень довольны и полны желанием попробовать что-нибудь еще!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="l-section l-section-apply" id="apply">
            <h2 class="s-title white">Заявка</h2>
            <form action="/project/apply" class="s-form b-apply" method="post">
                <div class="s-form-group">
                    <label for="name">Контактное лицо</label>
                    <input class="s-control" id="name" name="name" placeholder="Как к вам обращаться?" size="40" type="text">
                </div>
                <div class="s-form-group">
                    <input class="s-control" id="email" name="email" placeholder="Ваш e-mail" size="20" type="email">
                </div>
                <div class="s-form-group">
                    <input class="s-control" id="phone" name="phone" placeholder="Ваш телефон" size="20" type="text">
                </div>
                <div class="s-form-group">
                    <label class="inline" for="date">Когда</label>
                    <input class="s-control date" id="date" name="date" size="12" type="text">
                    <label class="inline" for="qty">Человек</label>
                    <input type="number" name="qty" value="0" max="1000" style="width: 60px">
                </div>
                <div class="s-form-group">
                    <textarea class="s-control textarea" id="descr" name="descr" placeholder="Подробности" rows="6"></textarea>
                </div>
                <button class="s-button block" type="submit">Отправить</button>
            </form>
        </section>
        <section class="l-section l-section-projects b-skew b-skew-top dark">
            <h2 class="s-title main-color">Другие проекты</h2>
            <div class="b-slider b-slider-main" id="slider" style="overflow: hidden; width: 100%;">
                <ul class="list" style="position: relative; width: 2596px; left: 0px; margin-left: -2px;">
                    <li class="item b-project" data-type="city, corp, priv">
                        <a href="/project/morskoy-boy-avtokvest">
                            <div class="b-project__image" style="background-image: url(/project_files/1/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/1/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Морской бой Автоквест</h3>
                                <p class="main">Хорошо известная всем игра в новом, современном формате, сочетающем виртуальный мир и реальность. Игра проходит в формате "автоквест" – это динамичная версия для отчаянных любителей драйва, в которой перемещение между игровыми зонами происходит на личных</p>
                                <p class="preview">Динамичная игра для отчаянных любителей драйва</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project active" data-type="tour">
                        <a href="/project/ogon-voda-i-baba-yaga">
                            <div class="b-project__image" style="background-image: url(/project_files/2/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/2/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Огонь, вода и баба Яга</h3>
                                <p class="main">Это сказочное приключение придумано специально для иностранных гостей нашей страны. Мы нашли интересный способ познакомить их с русскими традициями, объединив древнюю историю, развлечения, национальный колорит и шоу.</p>
                                <p class="preview">Квест по русским сказкам для зарубежных гостей</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="corp">
                        <a href="/project/morskoy-boy-timbilding">
                            <div class="b-project__image" style="background-image: url(/project_files/3/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/3/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Морской Бой Тимбилдинг</h3>
                                <p class="main">Захватывающая игра для ценителей командного взаимодействия в современном формате, сочетающим виртуальный мир и реальность. Это увлекательное развлечение, созданное по законам жанра, приправленное долькой авантюризма и дополненное оригинальными игровыми ло</p>
                                <p class="preview">Известная игра для ценителей командного взаимодействия</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="corp, priv">
                        <a href="/project/sherlok-vs-eynshteyn">
                            <div class="b-project__image" style="background-image: url(/project_files/4/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/4/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Шерлок vs Эйнштейн</h3>
                                <p class="main">Увлекательный праздник в компании знаменитого сыщика Шерлока Холмса. Игра представляет собой детективно-приключенческую историю, произошедшую в нашей стране. По воле судьбы участники оказываются втянутыми в противостояние двух интеллектуальных гениев.</p>
                                <p class="preview">Противостояние двух гениев. Кто победит?</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="corp">
                        <a href="/project/element-zazhiganiya">
                            <div class="b-project__image" style="background-image: url(/project_files/6/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/6/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Элемент Зажигания</h3>
                                <p class="main">Мы предлагаем вам прикоснуться к тайнам прошлого и совершить квест, воссоздав изобретение способное разжигать "Искру". Возможно, именно вашей команде удастся собрать механизм и запустить его.</p>
                                <p class="preview">Собери детали и запусти прибор</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="kids">
                        <a href="/project/detskiy-morskoy-boy">
                            <div class="b-project__image" style="background-image: url(/project_files/7/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/7/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Детский Морской Бой</h3>
                                <p class="main">В нем скрыт захватывающий сюжет для юных искателей приключений, готовых окунуться в море развлечения, где и когда угодно: дома, в школе или на природе.<br>Пройдите МОРСКОЙ БОЙ до конца и завоюйте долгожданную победу вместе с компанией Best Quest!</p>
                                <p class="preview">Захватывающий квест для юных и отважных, готовых окунуться в море приключений</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="kids">
                        <a href="/project/sherlok-deti">
                            <div class="b-project__image" style="background-image: url(/project_files/8/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/8/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Шерлок &amp; Дети</h3>
                                <p class="main">В этом квесте на пути юных детективов встретится немало ловушек, расставленных хитроумным злодеем: им придется побывать в его логове, спасти пленников и встретиться со знаменитым Шерлоком Холмсом.</p>
                                <p class="preview">Детективный боевик для умных и смелых детей</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="kids">
                        <a href="/project/domashniy-kvest">
                            <div class="b-project__image" style="background-image: url(/project_files/9/slider/big_slider_image.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/project_files/9/slider/small_slider_image.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Домашний квест</h3>
                                <p class="main">Вы можете позабыть на несколько часов о заботах, и расслабиться, а мы сделаем все, чтобы дети остались довольны. Сюжет игры заключается в похищении праздничного торта злодеем Обжорой, который сбежал и запер в квартире все двери.</p>
                                <p class="preview">Домашний квест в пижамах и тапочках :)</p>
                            </div>
                        </a>
                    </li>
                    <li class="item b-project" data-type="excl">
                        <a href="/project/exclusive">
                            <div class="b-project__image" style="background-image: url(/img/projects/excl.jpg)"></div>
                            <div class="b-project__image--small" style="background-image: url(/img/projects/excl_small.jpg)"></div>
                            <div class="b-project__body">
                                <h3>Создать Экслюзивный Проект</h3>
                                <p class="main">
                                    Если вы не подобрали интересный проект в нашем ассортименте, то мы готовы предложить вам
                                    эксклюзивный квест. Для разработки индивидуального сценария игры просим Вас заполнить
                                    анкету.
                                </p>
                                <p class="preview">
                                    Заполните анкету для эксклюзивного проекта
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div id="nothing-to-show" style="display: none; color: white">Nothing to show</div>
                <div class="b-slider__next">

                    <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>arrow-right</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-623.000000, -94.000000)" fill="#FFFFFF">
                                <g id="arrow-right" sketch:type="MSLayerGroup" transform="translate(623.000000, 94.000000)">
                                    <path d="M47.75,24 C47.75,10.8832372 37.1167628,0.25 24,0.25 C10.8832372,0.25 0.25,10.8832372 0.25,24 C0.25,37.1167628 10.8832372,47.75 24,47.75 C37.1167628,47.75 47.75,37.1167628 47.75,24 Z M1.75,24 C1.75,11.7116643 11.7116643,1.75 24,1.75 C36.2883357,1.75 46.25,11.7116643 46.25,24 C46.25,36.2883357 36.2883357,46.25 24,46.25 C11.7116643,46.25 1.75,36.2883357 1.75,24 Z" id="Oval-29" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6146921,24.5 C36.0289056,24.5 36.3646921,24.1642136 36.3646921,23.75 C36.3646921,23.3357864 36.0289056,23 35.6146921,23 L12.3853079,23 C11.9710944,23 11.6353079,23.3357864 11.6353079,23.75 C11.6353079,24.1642136 11.9710944,24.5 12.3853079,24.5 L35.6146921,24.5 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6259318,24.4185217 L35.6259318,23.4308392 L29.4358507,30.5061588 C29.1631097,30.8179042 29.1947291,31.2917241 29.5064745,31.5644651 C29.81822,31.8372061 30.2920399,31.8055867 30.5647809,31.4938412 L36.7548619,24.4185217 C37.0022418,24.1357642 37.0022418,23.7135967 36.7548619,23.4308392 L30.5644651,16.3551588 C30.2917241,16.0434133 29.8179042,16.0117939 29.5061588,16.2845349 C29.1944133,16.5572759 29.1627939,17.0310958 29.4355349,17.3428412 L35.6259318,24.4185217 Z" id="Path-532" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>
                <div class="b-slider__prev">

                    <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>arrow-left</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-557.000000, -94.000000)" fill="#FFFFFF">
                                <g id="arrow-left" sketch:type="MSLayerGroup" transform="translate(581.000000, 118.000000) scale(-1, 1) translate(-581.000000, -118.000000) translate(557.000000, 94.000000)">
                                    <path d="M47.75,24 C47.75,10.8832372 37.1167628,0.25 24,0.25 C10.8832372,0.25 0.25,10.8832372 0.25,24 C0.25,37.1167628 10.8832372,47.75 24,47.75 C37.1167628,47.75 47.75,37.1167628 47.75,24 Z M1.75,24 C1.75,11.7116643 11.7116643,1.75 24,1.75 C36.2883357,1.75 46.25,11.7116643 46.25,24 C46.25,36.2883357 36.2883357,46.25 24,46.25 C11.7116643,46.25 1.75,36.2883357 1.75,24 Z" id="Oval-29" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6146921,24.5 C36.0289056,24.5 36.3646921,24.1642136 36.3646921,23.75 C36.3646921,23.3357864 36.0289056,23 35.6146921,23 L12.3853079,23 C11.9710944,23 11.6353079,23.3357864 11.6353079,23.75 C11.6353079,24.1642136 11.9710944,24.5 12.3853079,24.5 L35.6146921,24.5 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M35.6259318,24.4185217 L35.6259318,23.4308392 L29.4358507,30.5061588 C29.1631097,30.8179042 29.1947291,31.2917241 29.5064745,31.5644651 C29.81822,31.8372061 30.2920399,31.8055867 30.5647809,31.4938412 L36.7548619,24.4185217 C37.0022418,24.1357642 37.0022418,23.7135967 36.7548619,23.4308392 L30.5644651,16.3551588 C30.2917241,16.0434133 29.8179042,16.0117939 29.5061588,16.2845349 C29.1944133,16.5572759 29.1627939,17.0310958 29.4355349,17.3428412 L35.6259318,24.4185217 Z" id="Path-532" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

            </div>
            <ul class="b-slider__pages" id="pages">
                <li class="item active" data-action="tour">
                    <svg width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>icon_1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-95.000000, -59.000000)" fill="#FFFFFF">
                                <g id="Flag" sketch:type="MSLayerGroup" transform="translate(121.000000, 64.000000)">
                                    <path d="M2.98871743,1.92678671 L16.4120396,1.92678696 C17.1012424,1.92678697 17.6603222,2.48628897 17.6603222,3.17642285 L17.6603222,14.59367 C17.6603222,15.2824979 17.1011033,15.8433059 16.4199476,15.8433058 L3.04974638,15.8433056 C2.3642662,15.8433056 1.80351746,15.2824237 1.80042262,14.590316 L1.749369,3.17306885 C1.74627579,2.48132836 2.29664879,1.92678669 2.98871743,1.92678671 Z M0.300437613,14.5970234 C0.307218085,16.1133572 1.53687447,17.3433056 3.04974635,17.3433056 L16.4199475,17.3433058 C17.9304848,17.3433059 19.1603222,16.1099737 19.1603222,14.59367 L19.1603222,3.17642285 C19.1603222,1.65811523 17.9299231,0.426786984 16.4120396,0.426786956 L2.98871746,0.426786707 C1.46456542,0.426786679 0.242579311,1.65802842 0.249383993,3.17977621 L0.300437613,14.5970234 Z" id="z" sketch:type="MSShapeGroup"></path>
                                    <path d="M25.4423023,6.42887528 C25.8503792,6.42887528 25.8858931,6.5106555 25.6612783,6.93133043 L23.4321644,11.1061754 C22.8072836,12.2764973 22.8022019,14.0928774 23.4215743,15.2703751 L25.6077614,19.4265663 C25.8317583,19.8524101 25.7923011,19.9426531 25.3843929,19.9426531 L13.8065648,19.9426531 C13.2500761,19.9426531 12.8001004,19.3839788 12.8001004,18.6883283 L12.8001004,17.0869563 C12.8001004,16.6727428 12.52886,16.3369563 12.1942679,16.3369563 C11.8596759,16.3369563 11.5884354,16.6727428 11.5884354,17.0869563 L11.5884354,18.6883283 C11.5884354,20.2114326 12.5801033,21.4426531 13.8065648,21.4426531 L25.3843929,21.4426531 C26.7546004,21.4426531 27.3717265,20.0312159 26.6231267,18.6080421 L24.4369396,14.4518509 C24.0809553,13.775084 24.0842283,12.6051808 24.4429671,11.933309 L26.6720809,7.75846403 C27.4291109,6.34064384 26.8160356,4.92887528 25.4423023,4.92887528 L18.6956522,4.92887528 C18.3610602,4.92887528 18.0898197,5.26466172 18.0898197,5.67887528 C18.0898197,6.09308884 18.3610602,6.42887528 18.6956522,6.42887528 L25.4423023,6.42887528 Z" id="Path-521" sketch:type="MSShapeGroup"></path>
                                    <path d="M12.9918775,19.9810297 C12.7074687,20.2821685 12.721031,20.7568485 13.0221697,21.0412573 C13.3233084,21.325666 13.7979885,21.3121037 14.0823972,21.010965 L18.4589622,16.3769547 C18.743371,16.075816 18.7298087,15.6011359 18.4286699,15.3167272 C18.1275312,15.0323184 17.6528512,15.0458807 17.3684424,15.3470194 L12.9918775,19.9810297 Z" id="Path-522" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="Earth-2" sketch:type="MSLayerGroup" transform="translate(98.000000, 79.000000)">
                                    <path d="M31.75,16 C31.75,11.8811059 30.1532232,8.11466334 27.2879787,5.16493047 L27.0670624,4.93749999 L26.75,4.9375 C25.8597347,4.93750002 25.8597347,4.93750002 25.6258186,4.93750002 C23.4011439,4.93750001 21.2191507,3.15159317 21.1661197,1.76304381 L19.666666,1.79166669 L19.666666,1.97685188 C21.166666,1.95370373 21.166666,1.95370373 21.166666,1.79166669 L21.166666,1.27709547 L20.6865703,1.09191552 C19.2296602,0.529964002 17.5859595,0.25 16,0.25 C7.30151519,0.25 0.25,7.30151519 0.25,16 C0.25,24.6984848 7.30151519,31.75 16,31.75 C24.6984848,31.75 31.75,24.6984848 31.75,16 Z M1.75,16 C1.75,8.12994232 8.12994232,1.75 16,1.75 C17.408481,1.75 18.8699148,1.99891932 20.1467618,2.49141785 L20.416666,1.79166669 L19.666666,1.79166669 L19.666666,1.97685188 C21.166666,1.95370373 21.166666,1.95370373 21.166666,1.88425928 L21.166666,1.79166669 L20.416666,1.79166669 L19.6672124,1.82028957 C19.7532184,4.07224687 22.643048,6.43750001 25.5799428,6.43750001 C25.8597347,6.43750002 25.8597347,6.43750002 26.75,6.4375 L26.2120213,6.21006953 C28.8109304,8.88561351 30.25,12.2800597 30.25,16 C30.25,23.8700577 23.8700577,30.25 16,30.25 C8.12994232,30.25 1.75,23.8700577 1.75,16 Z" id="Oval-27" sketch:type="MSShapeGroup"></path>
                                    <path d="M30.5833333,16.3333333 C30.9975469,16.3333333 31.3333333,15.9975469 31.3333333,15.5833333 C31.3333333,15.1691198 30.9975469,14.8333333 30.5833333,14.8333333 L1.41666667,14.8333333 C1.0024531,14.8333333 0.666666667,15.1691198 0.666666667,15.5833333 C0.666666667,15.9975469 1.0024531,16.3333333 1.41666667,16.3333333 L30.5833333,16.3333333 Z" id="Line-2" sketch:type="MSShapeGroup"></path>
                                    <path d="M5.0942538,7.84532613 C5.81716552,8.17045883 6.64866188,8.49460595 7.5782267,8.79662832 C10.2290186,9.6578899 13.1428273,10.1744405 16.234375,10.1744405 C19.3293494,10.1744405 22.1600164,9.65658516 24.6686578,8.79244191 C25.5500661,8.48882618 26.3296016,8.16271794 27.0003443,7.83531458 C27.4094786,7.63560764 27.6956774,7.47701094 27.8520228,7.38059013 C28.2045815,7.16316143 28.314126,6.70109535 28.0966973,6.34853665 C27.8792686,5.99597795 27.4172025,5.88643345 27.0646438,6.10386215 C26.9491651,6.17507975 26.7059624,6.30985025 26.342365,6.4873297 C25.7252212,6.78857033 25.0020338,7.0911061 24.1801293,7.37422475 C21.8221629,8.18646549 19.1548258,8.67444052 16.234375,8.67444052 C13.3104975,8.67444052 10.5505208,8.18516075 8.04173617,7.37003834 C7.1654492,7.08532633 6.38435928,6.78082945 5.70952134,6.47731815 C5.31025751,6.2977475 5.03890944,6.16065674 4.90647898,6.08693081 C4.54456935,5.88545053 4.0878516,6.01550421 3.88637133,6.37741383 C3.68489105,6.73932346 3.81494474,7.19604121 4.17685436,7.39752148 C4.34554493,7.49143394 4.65486783,7.64771038 5.0942538,7.84532613 Z" id="Path-527" sketch:type="MSShapeGroup"></path>
                                    <path d="M14.455434,1.34666193 C14.3268517,1.58375725 14.1843651,1.86144567 14.0315019,2.17807476 C13.5975803,3.07686645 13.1647169,4.11127534 12.7612437,5.26812896 C11.6100131,8.56898099 10.9194092,12.1980927 10.9194092,16.0485686 C10.9194092,19.9026827 11.6114985,23.4269234 12.7659586,26.5490822 C13.1711865,27.6449933 13.6061932,28.6137021 14.0425785,29.4465507 C14.3079135,29.9529471 14.5178106,30.3058077 14.6440295,30.4964688 C14.8726784,30.8418564 15.3380268,30.9364918 15.6834144,30.707843 C16.028802,30.4791942 16.1234375,30.0138457 15.8947886,29.6684581 C15.7960075,29.5192434 15.6121546,29.2101661 15.3712397,28.7503759 C14.9638751,27.9729137 14.5551318,27.0626903 14.1728597,26.0288616 C13.07732,23.0660492 12.4194092,19.7158514 12.4194092,16.0485686 C12.4194092,12.3776476 13.0788053,8.91253247 14.1775746,5.76209944 C14.5616014,4.6610033 14.9724879,3.67911226 15.3823163,2.83022535 C15.6254677,2.3265803 15.8117834,1.98302938 15.91321,1.81330564 C16.1256928,1.45774422 16.0097047,0.997253371 15.6541433,0.784770536 C15.2985819,0.5722877 14.838091,0.688275806 14.6256082,1.04383722 C14.5922105,1.09972367 14.5343118,1.20121765 14.455434,1.34666193 Z" id="Path-528" sketch:type="MSShapeGroup"></path>
                                    <path d="M18.4833843,30.164373 C18.6119666,29.9272776 18.7544532,29.6495892 18.9073164,29.3329601 C19.341238,28.4341684 19.7741014,27.3997596 20.1775746,26.2429059 C21.3288052,22.9420539 22.0194091,19.3129422 22.0194091,15.4624663 C22.0194091,11.6083522 21.3273199,8.08411147 20.1728597,4.96195274 C19.7676318,3.86604162 19.3326251,2.89733281 18.8962398,2.06448416 C18.6309048,1.55808778 18.4210077,1.20522717 18.2947888,1.01456609 C18.06614,0.669178503 17.6007915,0.574543045 17.2554039,0.80319188 C16.9100163,1.03184071 16.8153809,1.49718918 17.0440297,1.84257677 C17.1428108,1.99179148 17.3266637,2.30086884 17.5675786,2.76065897 C17.9749432,3.53812118 18.3836865,4.44834456 18.7659586,5.48217332 C19.8614984,8.44498569 20.5194091,11.7951835 20.5194091,15.4624663 C20.5194091,19.1333873 19.860013,22.5985024 18.7612437,25.7489355 C18.3772169,26.8500316 17.9663304,27.8319226 17.556502,28.6808095 C17.3133506,29.1844546 17.1270349,29.5280055 17.0256083,29.6977293 C16.8131255,30.0532907 16.9291136,30.5137815 17.284675,30.7262644 C17.6402364,30.9387472 18.1007273,30.8227591 18.3132101,30.4671977 C18.3466078,30.4113112 18.4045065,30.3098172 18.4833843,30.164373 Z" id="Path-529" sketch:type="MSShapeGroup"></path>
                                    <path d="M27.6371208,23.9786361 C26.8942413,23.6445228 26.039708,23.311395 25.0843453,23.0009907 C22.3598452,22.1157808 19.3649824,21.5848612 16.1875,21.5848612 C13.0065909,21.5848612 10.097381,22.1170855 7.51921666,23.0051771 C6.61347535,23.3171748 5.81247233,23.6522637 5.12333131,23.9886476 C4.70315794,24.193743 4.40939632,24.3565306 4.24916765,24.4553463 C3.89660895,24.672775 3.78706445,25.134841 4.00449315,25.4873997 C4.22192186,25.8399584 4.68398794,25.9495029 5.03654664,25.7320742 C5.15590853,25.6584618 5.40667411,25.5195004 5.78131062,25.3366325 C6.41685274,25.0264113 7.16150766,24.7148949 8.00774515,24.4233943 C10.4352345,23.5872052 13.1811145,23.0848612 16.1875,23.0848612 C19.1973122,23.0848612 22.0383429,23.58851 24.6208358,24.4275807 C25.5229206,24.7206746 26.3270475,25.0341521 27.0218533,25.3466441 C27.4330978,25.5316031 27.7127412,25.6728848 27.8494734,25.7490056 C28.211383,25.9504859 28.6681008,25.8204322 28.8695811,25.4585226 C29.0710613,25.0966129 28.9410076,24.6398952 28.579098,24.4384149 C28.4061057,24.3421076 28.0884875,24.1816402 27.6371208,23.9786361 Z" id="Path-526" sketch:type="MSShapeGroup"></path>
                                </g>
                                <path d="M117.75,81.0833327 C117.75,81.4975462 118.085786,81.8333327 118.5,81.8333327 C118.914214,81.8333327 119.25,81.4975462 119.25,81.0833327 L119.25,65.2291666 C119.25,64.8149531 118.914214,64.4791666 118.5,64.4791666 C118.085786,64.4791666 117.75,64.8149531 117.75,65.2291666 L117.75,81.0833327 Z" id="Line-3" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </svg>
                    <p class="icontext">Зарубежным гостям</p>
                </li>
                <li class="item" data-action="city">
                    <svg width="45px" height="47px" viewBox="0 0 45 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>icon_2</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-246.000000, -66.000000)" fill="#FFFFFF">
                                <g id="City-Project" sketch:type="MSLayerGroup" transform="translate(246.000000, 66.000000)">
                                    <path d="M1.80269608,43.891325 L1.80269608,12.9518255 C1.80269608,12.2622926 2.36806109,11.6973172 3.05218807,11.6973172 L4.11230842,11.6973172 C5.6313284,11.6973172 6.86180041,10.4654247 6.86180041,8.94486893 L6.86180041,3.05453154 C6.86180041,2.36585146 7.4243788,1.80208333 8.10327257,1.80208333 L14.0796063,1.80208333 C14.7655695,1.80208333 15.3210784,2.3576096 15.3210784,3.04426252 L15.3210784,8.90439288 C15.3210784,10.4230909 16.5468007,11.6465721 18.0747747,11.6465721 L19.2885204,11.6465721 C19.9801068,11.6465721 20.5422166,12.2095363 20.5422166,12.9022008 L20.5422166,23.9944473 C20.5422166,25.5175423 21.7678859,26.750076 23.2909278,26.750076 L30.6190588,26.750076 C32.1394649,26.750076 33.36777,25.5245057 33.36777,24.0004098 L33.36777,17.9994862 C33.36777,17.3104494 33.9308821,16.74982 34.625506,16.74982 L41.8402414,16.74982 C42.536867,16.74982 43.0979775,17.3091986 43.0979775,18.0043079 L43.0979775,43.8392992 C43.0979775,44.5341565 42.5377022,45.0953801 41.8403599,45.0962282 L3.05848937,45.1433934 C2.36523613,45.1442365 1.80269608,44.5826921 1.80269608,43.891325 Z M41.8421842,46.5962271 C43.3674001,46.5943722 44.5979775,45.3617119 44.5979775,43.8392992 L44.5979775,18.0043079 C44.5979775,16.4797316 43.3642579,15.24982 41.8402414,15.24982 L34.625506,15.24982 C33.1039351,15.24982 31.86777,16.4805349 31.86777,17.9994862 L31.86777,24.0004098 C31.86777,24.6953292 31.3117853,25.250076 30.6190588,25.250076 L23.2909278,25.250076 C22.5981941,25.250076 22.0422166,24.6909847 22.0422166,23.9944473 L22.0422166,12.9022008 C22.0422166,11.3816187 20.8090443,10.1465721 19.2885204,10.1465721 L18.0747747,10.1465721 C17.3746139,10.1465721 16.8210784,9.59404867 16.8210784,8.90439288 L16.8210784,3.04426252 C16.8210784,1.52919298 15.5940072,0.302083328 14.0796063,0.302083328 L8.10327257,0.302083328 C6.59524148,0.302083328 5.36180041,1.53813288 5.36180041,3.05453154 L5.36180041,8.94486893 C5.36180041,9.63738475 4.80251364,10.1973172 4.11230842,10.1973172 L3.05218807,10.1973172 C1.53986536,10.1973172 0.302696078,11.4336339 0.302696078,12.9518255 L0.302696078,43.891325 C0.302696078,45.4120183 1.53810784,46.6452435 3.06031362,46.6433923 L41.8421842,46.5962271 Z" id="Path-390" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,16.4375 C17.2230371,16.4375 17.5588235,16.1017136 17.5588235,15.6875 C17.5588235,15.2732864 17.2230371,14.9375 16.8088235,14.9375 L5.42647059,14.9375 C5.01225703,14.9375 4.67647059,15.2732864 4.67647059,15.6875 C4.67647059,16.1017136 5.01225703,16.4375 5.42647059,16.4375 L16.8088235,16.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,36.4375 C17.2230371,36.4375 17.5588235,36.1017136 17.5588235,35.6875 C17.5588235,35.2732864 17.2230371,34.9375 16.8088235,34.9375 L5.42647059,34.9375 C5.01225703,34.9375 4.67647059,35.2732864 4.67647059,35.6875 C4.67647059,36.1017136 5.01225703,36.4375 5.42647059,36.4375 L16.8088235,36.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,26.4375 C17.2230371,26.4375 17.5588235,26.1017136 17.5588235,25.6875 C17.5588235,25.2732864 17.2230371,24.9375 16.8088235,24.9375 L5.42647059,24.9375 C5.01225703,24.9375 4.67647059,25.2732864 4.67647059,25.6875 C4.67647059,26.1017136 5.01225703,26.4375 5.42647059,26.4375 L16.8088235,26.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,41.4375 C17.2230371,41.4375 17.5588235,41.1017136 17.5588235,40.6875 C17.5588235,40.2732864 17.2230371,39.9375 16.8088235,39.9375 L5.42647059,39.9375 C5.01225703,39.9375 4.67647059,40.2732864 4.67647059,40.6875 C4.67647059,41.1017136 5.01225703,41.4375 5.42647059,41.4375 L16.8088235,41.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M39.5735294,41.4375 C39.987743,41.4375 40.3235294,41.1017136 40.3235294,40.6875 C40.3235294,40.2732864 39.987743,39.9375 39.5735294,39.9375 L21.8676471,39.9375 C21.4534335,39.9375 21.1176471,40.2732864 21.1176471,40.6875 C21.1176471,41.1017136 21.4534335,41.4375 21.8676471,41.4375 L39.5735294,41.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M39.5735294,36.4375 C39.987743,36.4375 40.3235294,36.1017136 40.3235294,35.6875 C40.3235294,35.2732864 39.987743,34.9375 39.5735294,34.9375 L21.8676471,34.9375 C21.4534335,34.9375 21.1176471,35.2732864 21.1176471,35.6875 C21.1176471,36.1017136 21.4534335,36.4375 21.8676471,36.4375 L39.5735294,36.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M39.5735294,31.4375 C39.987743,31.4375 40.3235294,31.1017136 40.3235294,30.6875 C40.3235294,30.2732864 39.987743,29.9375 39.5735294,29.9375 L21.8676471,29.9375 C21.4534335,29.9375 21.1176471,30.2732864 21.1176471,30.6875 C21.1176471,31.1017136 21.4534335,31.4375 21.8676471,31.4375 L39.5735294,31.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M39.5735294,26.4375 C39.987743,26.4375 40.3235294,26.1017136 40.3235294,25.6875 C40.3235294,25.2732864 39.987743,24.9375 39.5735294,24.9375 L37.0244332,24.9375 C36.6102196,24.9375 36.2744332,25.2732864 36.2744332,25.6875 C36.2744332,26.1017136 36.6102196,26.4375 37.0244332,26.4375 L39.5735294,26.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M39.5735294,21.4375 C39.987743,21.4375 40.3235294,21.1017136 40.3235294,20.6875 C40.3235294,20.2732864 39.987743,19.9375 39.5735294,19.9375 L37.0244332,19.9375 C36.6102196,19.9375 36.2744332,20.2732864 36.2744332,20.6875 C36.2744332,21.1017136 36.6102196,21.4375 37.0244332,21.4375 L39.5735294,21.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M13.0147059,11.4375 C13.4289194,11.4375 13.7647059,11.1017136 13.7647059,10.6875 C13.7647059,10.2732864 13.4289194,9.9375 13.0147059,9.9375 L9.22058824,9.9375 C8.80637467,9.9375 8.47058824,10.2732864 8.47058824,10.6875 C8.47058824,11.1017136 8.80637467,11.4375 9.22058824,11.4375 L13.0147059,11.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M13.0147059,6.4375 C13.4289194,6.4375 13.7647059,6.10171356 13.7647059,5.6875 C13.7647059,5.27328644 13.4289194,4.9375 13.0147059,4.9375 L9.22058824,4.9375 C8.80637467,4.9375 8.47058824,5.27328644 8.47058824,5.6875 C8.47058824,6.10171356 8.80637467,6.4375 9.22058824,6.4375 L13.0147059,6.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,21.4375 C17.2230371,21.4375 17.5588235,21.1017136 17.5588235,20.6875 C17.5588235,20.2732864 17.2230371,19.9375 16.8088235,19.9375 L5.42647059,19.9375 C5.01225703,19.9375 4.67647059,20.2732864 4.67647059,20.6875 C4.67647059,21.1017136 5.01225703,21.4375 5.42647059,21.4375 L16.8088235,21.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,36.4375 C17.2230371,36.4375 17.5588235,36.1017136 17.5588235,35.6875 C17.5588235,35.2732864 17.2230371,34.9375 16.8088235,34.9375 L5.42647059,34.9375 C5.01225703,34.9375 4.67647059,35.2732864 4.67647059,35.6875 C4.67647059,36.1017136 5.01225703,36.4375 5.42647059,36.4375 L16.8088235,36.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M16.8088235,31.4375 C17.2230371,31.4375 17.5588235,31.1017136 17.5588235,30.6875 C17.5588235,30.2732864 17.2230371,29.9375 16.8088235,29.9375 L5.42647059,29.9375 C5.01225703,29.9375 4.67647059,30.2732864 4.67647059,30.6875 C4.67647059,31.1017136 5.01225703,31.4375 5.42647059,31.4375 L16.8088235,31.4375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M39.0588235,6.375 C39.0588235,5.96078644 38.7230371,5.625 38.3088235,5.625 C37.89461,5.625 37.5588235,5.96078644 37.5588235,6.375 L37.5588235,15.125 C37.5588235,15.5392136 37.89461,15.875 38.3088235,15.875 C38.7230371,15.875 39.0588235,15.5392136 39.0588235,15.125 L39.0588235,6.375 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="icontext">Городской проект</p>
                </li>
                <li class="item" data-action="corp">
                    <svg width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>icon_3</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-391.000000, -62.000000)" fill="#FFFFFF">
                                <g id="Group" sketch:type="MSLayerGroup" transform="translate(395.000000, 64.000000)">
                                    <path d="M13.8884439,51.2031336 C14.0730463,50.6379444 14.4088973,50.0666884 14.9397665,49.5249086 C16.5386479,47.8931663 19.5047471,46.8841463 24.2325581,46.8841463 C28.9657164,46.8841463 31.9370905,47.854985 33.5360477,49.4222695 C34.064092,49.9398541 34.397004,50.4837165 34.5795431,51.0204864 C34.6830035,51.3247197 34.7151163,51.5450562 34.7151163,51.639176 C34.7151163,52.0533895 35.0509027,52.389176 35.4651163,52.389176 C35.8793298,52.389176 36.2151163,52.0533895 36.2151163,51.639176 C36.2151163,50.7646592 35.7984607,49.5394522 34.5860453,48.3510528 C32.6748281,46.4776938 29.3278883,45.3841463 24.2325581,45.3841463 C19.1318808,45.3841463 15.7796661,46.5245166 13.868373,48.4750914 C12.6623367,49.7059147 12.25,50.9683485 12.25,51.8658537 C12.25,52.2800672 12.5857864,52.6158537 13,52.6158537 C13.4142136,52.6158537 13.75,52.2800672 13.75,51.8658537 C13.75,51.7617095 13.7829988,51.5259703 13.8884439,51.2031336 Z" id="Path-379" sketch:type="MSShapeGroup"></path>
                                    <path d="M38.6177,46.719689 C42.5470782,46.719689 45.0017365,47.5217008 46.3136294,48.8076073 C46.7412012,49.2267096 47.0095237,49.6650552 47.1561798,50.0963084 C47.2381104,50.3372316 47.2630465,50.508327 47.2630465,50.5743089 C47.2630465,50.9885225 47.598833,51.3243089 48.0130465,51.3243089 C48.4272601,51.3243089 48.7630465,50.9885225 48.7630465,50.5743089 C48.7630465,49.8123433 48.4038038,48.7559632 47.363627,47.7363906 C45.7394742,46.1444096 42.90925,45.219689 38.6177,45.219689 C35.5688373,45.219689 33.2437529,45.7082257 31.5547213,46.6020301 C31.1886095,46.7957697 31.0488743,47.2496189 31.2426139,47.6157307 C31.4363535,47.9818425 31.8902027,48.1215777 32.2563145,47.9278381 C33.7105648,47.1582757 35.797923,46.719689 38.6177,46.719689 Z" id="Path-379" sketch:type="MSShapeGroup"></path>
                                    <path d="M1.75161068,50.3419143 C1.8989685,49.8827334 2.16747335,49.4179075 2.59285901,48.9760602 C3.88681687,47.6320285 6.30167012,46.7959273 10.1731775,46.7959273 C13.0750158,46.7959273 15.0088919,47.219244 16.4530129,48.023188 C16.8149245,48.2246647 17.271641,48.0946064 17.4731177,47.7326948 C17.6745943,47.3707832 17.5445361,46.9140667 17.1826245,46.7125901 C15.4957696,45.7735158 13.3139586,45.2959273 10.1731775,45.2959273 C5.924067,45.2959273 3.11852304,46.2672984 1.51226023,47.9357207 C0.49199831,48.9954649 0.142471353,50.084624 0.142471353,50.8658537 C0.142471353,51.2800672 0.47825779,51.6158537 0.892471353,51.6158537 C1.30668492,51.6158537 1.64247135,51.2800672 1.64247135,50.8658537 C1.64247135,50.7889504 1.66821213,50.601792 1.75161068,50.3419143 Z" id="Path-379" sketch:type="MSShapeGroup"></path>
                                    <path d="M30.4476744,35.5731707 C30.4476744,31.0111354 28.6262918,28.3841463 24.3488372,28.3841463 C20.0713826,28.3841463 18.25,31.0111354 18.25,35.5731707 C18.25,39.7825799 20.5295813,42.7621951 24.3488372,42.7621951 C28.1680931,42.7621951 30.4476744,39.7825799 30.4476744,35.5731707 Z M19.75,35.5731707 C19.75,31.7472263 21.0417379,29.8841463 24.3488372,29.8841463 C27.6559365,29.8841463 28.9476744,31.7472263 28.9476744,35.5731707 C28.9476744,39.0284925 27.2387603,41.2621951 24.3488372,41.2621951 C21.4589142,41.2621951 19.75,39.0284925 19.75,35.5731707 Z" id="Oval-19" sketch:type="MSShapeGroup"></path>
                                    <path d="M43.9389348,37.13608 C43.9389348,33.2600191 42.3721452,31.0002307 38.7149603,31.0002307 C35.0577753,31.0002307 33.4909857,33.2600191 33.4909857,37.13608 C33.4909857,40.7186626 35.4443853,43.2719294 38.7149603,43.2719294 C41.9855352,43.2719294 43.9389348,40.7186626 43.9389348,37.13608 Z M34.9909857,37.13608 C34.9909857,33.9961099 36.0281307,32.5002307 38.7149603,32.5002307 C41.4017899,32.5002307 42.4389348,33.9961099 42.4389348,37.13608 C42.4389348,39.9645752 41.0562024,41.7719294 38.7149603,41.7719294 C36.3737182,41.7719294 34.9909857,39.9645752 34.9909857,37.13608 Z" id="Oval-19" sketch:type="MSShapeGroup"></path>
                                    <path d="M15.4386349,37.1649565 C15.4386349,33.2713914 13.8914696,31.0002307 10.2692511,31.0002307 C6.64703254,31.0002307 5.09986718,33.2713914 5.09986718,37.1649565 C5.09986718,40.7629083 7.02929475,43.3296823 10.2692511,43.3296823 C13.5092074,43.3296823 15.4386349,40.7629083 15.4386349,37.1649565 Z M6.59986718,37.1649565 C6.59986718,34.0048738 7.62486361,32.5002307 10.2692511,32.5002307 C12.9136385,32.5002307 13.9386349,34.0048738 13.9386349,37.1649565 C13.9386349,40.0124557 12.5726374,41.8296823 10.2692511,41.8296823 C7.96586475,41.8296823 6.59986718,40.0124557 6.59986718,37.1649565 Z" id="Oval-19" sketch:type="MSShapeGroup"></path>
                                    <path d="M32.5369737,23.75 L32.0938991,23.6051321 L37.5569254,27.6051321 L38.75,28.4786953 L38.75,27 L38.75,23 L38,23.75 L40.0023401,23.75 C42.0651544,23.75 43.75,22.0670702 43.75,19.9986131 L43.75,4.00138694 C43.75,1.92928645 42.0725342,0.25 40.0023401,0.25 L7.99765987,0.25 C5.93484559,0.25 4.25,1.93292981 4.25,4.00138694 L4.25,19.9986131 C4.25,22.0707135 5.92746576,23.75 7.99765987,23.75 L10.0714286,23.75 L9.32142857,23 L9.32142857,27 L9.32142857,28.4786953 L10.5145032,27.6051321 L15.9775295,23.6051321 L15.5344549,23.75 L22.125,23.75 L21.5946699,23.5303301 L23.5321699,25.4678301 L24.0581473,25.9938075 L24.5884415,25.4721826 L26.5581425,23.5346826 L26.032201,23.75 L32.5369737,23.75 Z M25.7251554,22.25 L25.5062595,22.4653174 L23.5365585,24.4028174 L24.5928301,24.4071699 L22.6553301,22.4696699 L22.4356602,22.25 L22.125,22.25 L15.5344549,22.25 L15.2892345,22.25 L15.0913802,22.3948679 L9.62835393,26.3948679 L10.8214286,27 L10.8214286,23 L10.8214286,22.25 L10.0714286,22.25 L7.99765987,22.25 C6.75625736,22.25 5.75,21.2426505 5.75,19.9986131 L5.75,4.00138694 C5.75,2.7617392 6.76289092,1.75 7.99765987,1.75 L40.0023401,1.75 C41.2437426,1.75 42.25,2.75734954 42.25,4.00138694 L42.25,19.9986131 C42.25,21.2382608 41.2371091,22.25 40.0023401,22.25 L38,22.25 L37.25,22.25 L37.25,23 L37.25,27 L38.4430746,26.3948679 L32.9800483,22.3948679 L32.7821941,22.25 L32.5369737,22.25 L26.032201,22.25 L25.7251554,22.25 Z" id="Rectangle-14" sketch:type="MSShapeGroup"></path>
                                    <path d="M20.3332774,4.25 C18.7574353,4.25 17.472129,5.50157713 17.472129,7.05559858 L18.222129,6.30559858 C15.6908609,6.30559858 15.3386808,6.32982037 14.8303622,6.7140491 C14.4583163,6.99527185 14.3178128,7.37353371 14.2922365,7.88514015 C14.2819214,8.09147523 14.3048775,8.96000041 14.3048775,9.11119716 C14.3048775,11.2327004 16.0631097,12.944595 18.222129,12.944595 C17.7589332,12.812726 17.7589332,12.812726 17.7097844,12.7371023 C17.6756857,12.7003885 17.6756857,12.7003885 17.674259,12.6979581 C17.6837098,12.7102465 17.7053495,12.741117 17.7387238,12.7905823 C17.7251788,12.7705068 17.9609346,13.1243057 18.0536017,13.2598131 C18.4229884,13.7999677 18.7905925,14.2823673 19.2114896,14.7501726 C20.5012431,16.1836665 21.9165731,17.0524711 23.4999999,17.0524711 C26.4760078,17.0524711 28.0591566,15.4178074 29.1178459,12.4074446 L28.4103239,12.1586221 L28.3094083,12.9018017 C28.5468055,12.9348189 28.6413927,12.944595 28.777871,12.944595 C30.9368903,12.944595 32.6951225,11.2327004 32.6951225,9.11119716 C32.6951225,8.96000041 32.7180786,8.09147523 32.7077635,7.88514015 C32.6821872,7.37353371 32.5416837,6.99527185 32.1696378,6.7140491 C31.6613192,6.32982037 31.3091391,6.30559858 28.777871,6.30559858 L29.527871,7.05559858 C29.527871,5.50157713 28.2425647,4.25 26.6667226,4.25 L20.3332774,4.25 Z M28.027871,7.05559858 L28.027871,7.80559858 L28.777871,7.80559858 C30.6559957,7.80559858 31.173205,7.84117053 31.2651396,7.91066229 C31.2073295,7.86696467 31.1951225,7.62278549 31.1951225,9.11119716 C31.1951225,10.3951749 30.1172967,11.444595 28.777871,11.444595 C28.7331142,11.444595 28.6860118,11.4397267 28.5633299,11.4226369 C28.5292857,11.4179072 28.5292857,11.4179072 28.5112395,11.4154424 L27.9055812,11.3332006 L27.7028019,11.9097996 C26.8316525,14.3868961 25.7028096,15.5524711 23.4999999,15.5524711 C22.4304725,15.5524711 21.3597478,14.8952035 20.3265821,13.7468936 C19.9561202,13.3351444 19.6266589,12.9027989 19.2917686,12.4130883 C19.2052331,12.2865473 18.9731963,11.9383294 18.9821692,11.9516284 C18.9324014,11.8778657 18.8968695,11.827177 18.8632771,11.7834987 C18.8290177,11.739448 18.8290177,11.739448 18.7696579,11.675656 C18.6990662,11.5804757 18.6990662,11.5804757 18.222129,11.444595 C16.8827033,11.444595 15.8048775,10.3951749 15.8048775,9.11119716 C15.8048775,7.62278549 15.7926705,7.86696467 15.7348604,7.91066229 C15.826795,7.84117053 16.3440043,7.80559858 18.222129,7.80559858 L18.972129,7.80559858 L18.972129,7.05559858 C18.972129,6.33906272 19.5770666,5.75 20.3332774,5.75 L26.6667226,5.75 C27.4229334,5.75 28.027871,6.33906272 28.027871,7.05559858 Z" id="Fill-159" sketch:type="MSShapeGroup"></path>
                                    <path d="M24.4444444,16.5 C24.4444444,16.0857864 24.108658,15.75 23.6944444,15.75 C23.2802309,15.75 22.9444444,16.0857864 22.9444444,16.5 L22.9444444,19.5 C22.9444444,19.9142136 23.2802309,20.25 23.6944444,20.25 C24.108658,20.25 24.4444444,19.9142136 24.4444444,19.5 L24.4444444,16.5 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M21.8820459,18.7802714 C21.4678324,18.7802714 21.1320459,19.1160578 21.1320459,19.5302714 C21.1320459,19.944485 21.4678324,20.2802714 21.8820459,20.2802714 L25.5386221,20.2802714 C25.9528357,20.2802714 26.2886221,19.944485 26.2886221,19.5302714 C26.2886221,19.1160578 25.9528357,18.7802714 25.5386221,18.7802714 L21.8820459,18.7802714 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M17.4791873,7.61195373 C17.4741025,8.2979171 17.4732896,8.63206047 17.4780208,9.03558478 C17.5027827,11.1475509 17.6950214,12.5161071 18.2568803,13.4525387 C18.4699913,13.8077239 18.9306865,13.9228977 19.2858717,13.7097866 C19.641057,13.4966755 19.7562308,13.0359803 19.5431197,12.6807951 C19.166869,12.0537105 18.9995439,10.8625155 18.9779177,9.01799909 C18.9733343,8.62708041 18.9741309,8.29964776 18.9791461,7.62307226 C18.9823749,7.18748889 18.9833333,7.0201035 18.9833333,6.8 C18.9833333,6.38578644 18.6475469,6.05 18.2333333,6.05 C17.8191198,6.05 17.4833333,6.38578644 17.4833333,6.8 C17.4833333,7.01503103 17.4823871,7.18027632 17.4791873,7.61195373 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                    <path d="M28.0179092,7.34448806 C28.0205803,8.16808486 28.0192961,8.561446 28.0088236,9.03719871 C27.968834,10.8538661 27.784721,12.067727 27.4068802,12.6974618 C27.1937692,13.052647 27.308943,13.5133422 27.6641282,13.7264532 C28.0193134,13.9395643 28.4800086,13.8243905 28.6931197,13.4692053 C29.2515319,12.5385181 29.4627708,11.1458154 29.5084603,9.07020962 C29.5193,8.57777654 29.5206127,8.17566311 29.5179013,7.33962334 C29.5169739,7.05564678 29.5166667,6.93238678 29.5166667,6.78333333 C29.5166667,6.36911977 29.1808802,6.03333333 28.7666667,6.03333333 C28.3524531,6.03333333 28.0166667,6.36911977 28.0166667,6.78333333 C28.0166667,6.93459583 28.0169787,7.0598206 28.0179092,7.34448806 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="icontext">Корпоративные мероприятия</p>
                </li>
                <li class="item" data-action="priv">
                    <svg width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>icon_4</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-557.000000, -62.000000)" fill="#FFFFFF">
                                <g id="Private-Person" sketch:type="MSLayerGroup" transform="translate(561.000000, 68.000000)">
                                    <path d="M19.5183454,40.5577368 L12.8073301,42.2143369 C11.1167559,42.6316516 9.69588816,41.597208 9.56882149,39.8514331 L9.06552766,32.9366556 C8.89646546,30.6139021 7.78269776,27.1775583 6.56005953,25.2012093 L2.9157178,19.310267 C1.99903256,17.8284795 2.54692586,16.142508 4.15313808,15.4857222 L10.5531007,12.8687547 C12.7036775,11.9893763 15.6178246,9.86447737 17.1139242,8.08694966 L21.5726124,2.78954699 C22.6926437,1.45882893 24.4562266,1.46056629 25.5747957,2.78954699 L30.0334839,8.08694966 C31.531568,9.86683512 34.4465794,11.9905412 36.5943074,12.8687547 L42.99427,15.4857222 C44.602584,16.1433675 45.1471764,17.8304178 44.2316903,19.310267 L40.5873485,25.2012093 C39.3604388,27.184463 38.2514297,30.6072095 38.0818804,32.9366556 L37.5785866,39.8514331 C37.4520204,41.5903315 36.0229658,42.6297542 34.340078,42.2143369 L27.6290627,40.5577368 C25.3737223,40.0010107 21.7706983,40.0017482 19.5183454,40.5577368 Z M33.9805965,43.6706243 C36.566406,44.3089259 38.8806307,42.625675 39.074629,39.9603229 L39.5779229,33.0455454 C39.7299157,30.957308 40.7633055,27.7679462 41.8629819,25.9903604 L45.5073236,20.0994181 C46.9099058,17.8321964 46.0300303,15.1064984 43.5619964,14.0973106 L37.1620338,11.4803432 C35.2389167,10.6939738 32.5228963,8.71524092 31.1810943,7.12103537 L26.722406,1.8236327 C25.0049228,-0.216922719 22.1448567,-0.219740246 20.425002,1.8236327 L15.9663138,7.12103537 C14.626361,8.71304379 11.9111454,10.6928885 9.98537428,11.4803432 L3.58541166,14.0973106 C1.12077886,15.1051077 0.235567875,17.8290695 1.64008444,20.0994181 L5.28442617,25.9903604 C6.37985622,27.7610822 7.41798292,30.9640484 7.56948521,33.0455454 L8.07277904,39.9603229 C8.26725458,42.6322315 10.5730031,44.3109005 13.1668116,43.6706243 L19.8778269,42.0140242 C21.8941713,41.5162938 25.2504539,41.5156068 27.2695812,42.0140242 L33.9805965,43.6706243 Z" id="Star-1" sketch:type="MSShapeGroup"></path>
                                    <path d="M13.2296087,38.33728 C13.4142111,37.7720907 13.7500621,37.2008348 14.2809313,36.6590549 C15.8798126,35.0273126 18.8459119,34.0182927 23.5737229,34.0182927 C28.3068812,34.0182927 31.2782552,34.9891313 32.8772125,36.5564158 C33.4052568,37.0740004 33.7381687,37.6178629 33.9207078,38.1546328 C34.0241683,38.458866 34.0562811,38.6792026 34.0562811,38.7733223 C34.0562811,39.1875359 34.3920675,39.5233223 34.8062811,39.5233223 C35.2204946,39.5233223 35.5562811,39.1875359 35.5562811,38.7733223 C35.5562811,37.8988055 35.1396255,36.6735986 33.9272101,35.4851992 C32.0159929,33.6118401 28.669053,32.5182927 23.5737229,32.5182927 C18.4730455,32.5182927 15.1208309,33.658663 13.2095378,35.6092378 C12.0035015,36.8400611 11.5911648,38.1024949 11.5911648,39 C11.5911648,39.4142136 11.9269512,39.75 12.3411648,39.75 C12.7553783,39.75 13.0911648,39.4142136 13.0911648,39 C13.0911648,38.8958559 13.1241636,38.6601167 13.2296087,38.33728 Z" id="Path-378" sketch:type="MSShapeGroup"></path>
                                    <path d="M29.5639535,22.5365854 C29.5639535,17.9745501 27.7425709,15.347561 23.4651163,15.347561 C19.1876617,15.347561 17.3662791,17.9745501 17.3662791,22.5365854 C17.3662791,26.7459945 19.6458604,29.7256098 23.4651163,29.7256098 C27.2843722,29.7256098 29.5639535,26.7459945 29.5639535,22.5365854 Z M18.8662791,22.5365854 C18.8662791,18.7106409 20.158017,16.847561 23.4651163,16.847561 C26.7722156,16.847561 28.0639535,18.7106409 28.0639535,22.5365854 C28.0639535,25.9919071 26.3550393,28.2256098 23.4651163,28.2256098 C20.5751932,28.2256098 18.8662791,25.9919071 18.8662791,22.5365854 Z" id="Oval-16" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="icontext">Частные программы</p>
                </li>
                <li class="item" data-action="kids">
                    <svg width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                        <title>icon_5</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Best-Quest-MP-3" sketch:type="MSArtboardGroup" transform="translate(-694.000000, -60.000000)" fill="#FFFFFF">
                                <g id="Tort" sketch:type="MSLayerGroup" transform="translate(703.000000, 62.000000)">
                                    <path d="M19,15.75 C19.689013,15.75 20.25,16.311131 20.25,16.9979131 L20.25,21 L21,20.25 L17,20.25 L17.75,21 L17.75,16.9979131 C17.75,16.3057742 18.304875,15.75 19,15.75 Z M16.25,21 C16.25,21.4142136 16.5857864,21.75 17,21.75 L21,21.75 C21.4142136,21.75 21.75,21.4142136 21.75,21 L21.75,16.9979131 C21.75,15.48279 20.5175264,14.25 19,14.25 C17.4759036,14.25 16.25,15.4778903 16.25,16.9979131 L16.25,21 Z" id="Rectangle-1" sketch:type="MSShapeGroup"></path>
                                    <path d="M21.7479912,8.97131692 C21.6782957,7.19469424 20.3990446,5.270081 17.6073356,1.88238919 L16.2931139,0.287603271 L16.2785613,2.35407589 C16.2631739,4.53908066 16.25,7.74370856 16.25,9.00071619 C16.25,10.5191037 17.4808963,11.75 18.9992838,11.75 C20.5340194,11.75 21.8076983,10.4933241 21.7479912,8.97131692 Z M17.75,9.00071619 C17.75,7.74756685 17.7631598,4.54635835 17.7785241,2.36463901 L16.4497497,2.83632571 C18.9575152,5.87945688 20.1988069,7.74696081 20.2491441,9.03011546 C20.274751,9.682869 19.6999467,10.25 18.9992838,10.25 C18.3093234,10.25 17.75,9.69067659 17.75,9.00071619 Z" id="Oval-1" sketch:type="MSShapeGroup"></path>
                                    <path d="M1.71296296,48.9666909 L1.71296296,37.0701735 C1.71296296,36.3783336 2.26618525,35.8239014 2.96121757,35.8239014 L4.96573388,35.8239014 C6.48447416,35.8239014 7.71398849,34.5901458 7.71398849,33.0680675 L7.71398849,23.079908 C7.71398849,22.386261 8.27666064,21.824074 8.9719816,21.824074 L28.9924634,21.824074 C29.6910296,21.824074 30.2504566,22.3796445 30.2504566,23.0734658 L30.2504566,32.9265825 C30.2504566,34.4460957 31.4837589,35.6759742 33.0066148,35.6759742 L35.0697212,35.6759742 C35.7637846,35.6759742 36.3258794,36.2350166 36.3258794,36.9200344 L36.3258794,48.9319129 C36.3258794,49.6192237 35.7685786,50.1773117 35.0820841,50.1780149 L2.95522184,50.2109219 C2.27171627,50.211622 1.71296296,49.6513638 1.71296296,48.9666909 Z M35.0836206,51.6780141 C36.5980718,51.6764629 37.8258794,50.4469209 37.8258794,48.9319129 L37.8258794,36.9200344 C37.8258794,35.4047556 36.5903888,34.1759742 35.0697212,34.1759742 L33.0066148,34.1759742 C32.311254,34.1759742 31.7504566,33.6167337 31.7504566,32.9265825 L31.7504566,23.0734658 C31.7504566,21.5488857 30.5171428,20.324074 28.9924634,20.324074 L8.9719816,20.324074 C7.44852303,20.324074 6.21398849,21.5575441 6.21398849,23.079908 L6.21398849,33.0680675 C6.21398849,33.7628728 5.6548885,34.3239014 4.96573388,34.3239014 L2.96121757,34.3239014 C1.43702365,34.3239014 0.212962963,35.5506392 0.212962963,37.0701735 L0.212962963,48.9666909 C0.212962963,50.479146 1.4429758,51.7124717 2.95675826,51.7109211 L35.0836206,51.6780141 Z" id="z" sketch:type="MSShapeGroup"></path>
                                    <path d="M3.89967772,39.4217048 C4.50541811,40.2624929 5.55908215,40.75 7.07186664,40.75 C8.58465114,40.75 9.63831517,40.2624929 10.2440556,39.4217048 C10.6247222,38.8933267 10.7517708,38.3642833 10.7517708,37.9665971 L10.0017708,37.9665971 L9.25177084,37.9665971 C9.25177085,38.3627756 9.37937011,38.8891339 9.76117027,39.4141205 C10.3740473,40.2568446 11.442583,40.7399568 12.9797181,40.7292227 C14.4876872,40.7186923 15.5545712,40.2584583 16.2009865,39.4688401 C16.6185535,38.9587678 16.7783567,38.4400242 16.7990625,38.0476144 L15.3003646,37.9883392 C15.300241,37.9934164 15.300241,37.9934164 15.3001422,37.9997053 C15.2946583,38.4089642 15.4193902,38.9321607 15.7975485,39.4476639 C16.4047047,40.2753355 17.4743205,40.75 19.0250004,40.75 C20.5721859,40.75 21.647643,40.2782597 22.2711052,39.4578304 C22.6686391,38.9347057 22.8023841,38.4067109 22.8023841,38.0080952 C22.8023843,37.0354 21.3573562,36.9953898 21.3035332,37.9665947 C21.3029704,37.9774984 21.3029704,37.9774984 21.3024383,37.9933145 C21.2904476,38.4113652 21.4052795,38.928977 21.7635986,39.4365729 C22.3535307,40.2722726 23.4181844,40.75 24.9750004,40.75 C26.524363,40.75 27.6011984,40.2785306 28.2256181,39.458364 C28.6239521,38.9351577 28.7580054,38.4069265 28.7580054,38.0080951 C28.7580053,37.022546 27.2870102,37.0011329 27.2583232,37.9862644 C27.2581718,37.9918851 27.2581718,37.9918851 27.2580489,37.9989538 C27.2519528,38.4099721 27.3769554,38.9336489 27.7563565,39.4488045 C28.3656828,40.2761556 29.4402084,40.75 31.0000004,40.75 C32.5494507,40.75 33.6421711,40.2846571 34.3007525,39.4785671 C34.720827,38.9644047 34.8811017,38.4416699 34.9014117,38.0466008 C34.9226778,37.6329335 34.6045738,37.2803503 34.1909065,37.2590842 C33.7772392,37.2378181 33.424656,37.5559221 33.4033899,37.9695894 C33.3980996,38.0724965 33.329349,38.2967261 33.1391482,38.5295279 C32.780604,38.9683786 32.1192993,39.25 31.0000004,39.25 C29.891043,39.25 29.2716956,38.9768801 28.9641499,38.5592905 C28.8071123,38.346063 28.7562274,38.1328894 28.757884,38.021199 C28.7578195,38.0249737 27.2580054,38.0080951 27.2580054,38.0080951 C27.2580054,38.1072401 27.2024959,38.3259731 27.0321415,38.5497311 C26.7087472,38.9745051 26.0795173,39.25 24.9750004,39.25 C23.8779369,39.25 23.277921,38.9807631 22.9890321,38.5715222 C22.8447199,38.3670891 22.7983319,38.1579923 22.8018217,38.0363206 C22.8016708,38.0409844 22.8016708,38.0409844 22.8012351,38.0495955 L21.3023841,38.008095 C21.3023841,38.1074555 21.2469175,38.3264251 21.0768169,38.5502647 C20.7542215,38.974776 20.1267753,39.25 19.0250004,39.25 C17.9267197,39.25 17.3131152,38.9777001 17.0070187,38.5604312 C16.8496729,38.3459384 16.798513,38.1313444 16.8000076,38.0198031 C16.8258403,37.0412935 15.3531484,36.9830469 15.3011463,37.9685758 C15.2958476,38.0689942 15.2279212,38.2894929 15.0403129,38.5186629 C14.690962,38.9454068 14.0504566,39.221709 12.9692436,39.2292593 C11.8939442,39.2367683 11.2875238,38.9625902 10.9742835,38.5318754 C10.8071496,38.3020614 10.7517708,38.0736191 10.7517708,37.9665971 C10.7517708,36.9665971 9.25177083,36.9665971 9.25177084,37.9665971 L10.0017708,37.9665971 C9.25177084,38.0772616 9.19570048,38.3107443 9.02701009,38.5448922 C8.71715542,38.974981 8.12274834,39.25 7.07186664,39.25 C6.02098494,39.25 5.42657786,38.974981 5.11672318,38.5448922 C4.94803278,38.3107443 4.89196242,38.0772616 4.89196242,37.9665971 C4.89196242,37.5523835 4.55617598,37.2165971 4.14196242,37.2165971 C3.72774886,37.2165971 3.39196242,37.5523835 3.39196242,37.9665971 C3.39196242,38.3642833 3.51901107,38.8933267 3.89967772,39.4217048 Z" id="Path-370" sketch:type="MSShapeGroup"></path>
                                    <path d="M9.89967772,25.4217048 C10.5054181,26.2624929 11.5590821,26.75 13.0718666,26.75 C14.5846511,26.75 15.6383152,26.2624929 16.2440556,25.4217048 C16.6247222,24.8933267 16.7517708,24.3642833 16.7517708,23.9665971 L16.0017708,23.9665971 L15.2517708,23.9665971 C15.2517708,24.3627756 15.3793701,24.8891339 15.7611703,25.4141205 C16.3740473,26.2568446 17.442583,26.7399568 18.9797181,26.7292227 C20.4876872,26.7186923 21.5545712,26.2584583 22.2009865,25.4688401 C22.6185535,24.9587678 22.7783567,24.4400242 22.7990625,24.0476144 L21.3003646,23.9883392 C21.300241,23.9934164 21.300241,23.9934164 21.3001422,23.9997053 C21.2946583,24.4089642 21.4193902,24.9321607 21.7975485,25.4476639 C22.4047047,26.2753355 23.4743205,26.75 25.0250004,26.75 C26.5721859,26.75 27.647643,26.2782597 28.2711052,25.4578304 C28.6686391,24.9347057 28.8023841,24.4067109 28.8023841,24.0080952 C28.8023842,23.5938817 28.4665978,23.2580952 28.0523843,23.2580951 C27.6381707,23.258095 27.3023842,23.5938814 27.3023841,24.008095 C27.3023841,24.1074555 27.2469175,24.3264251 27.0768169,24.5502647 C26.7542215,24.974776 26.1267753,25.25 25.0250004,25.25 C23.9267197,25.25 23.3131152,24.9777001 23.0070187,24.5604312 C22.8496729,24.3459384 22.798513,24.1313444 22.8000076,24.0198031 C22.8258403,23.0412935 21.3531484,22.9830469 21.3011463,23.9685758 C21.2958476,24.0689942 21.2279212,24.2894929 21.0403129,24.5186629 C20.690962,24.9454068 20.0504566,25.221709 18.9692436,25.2292593 C17.8939442,25.2367683 17.2875238,24.9625902 16.9742835,24.5318754 C16.8071496,24.3020614 16.7517708,24.0736191 16.7517708,23.9665971 C16.7517708,22.9665971 15.2517708,22.9665971 15.2517708,23.9665971 L16.0017708,23.9665971 C15.2517708,24.0772616 15.1957005,24.3107443 15.0270101,24.5448922 C14.7171554,24.974981 14.1227483,25.25 13.0718666,25.25 C12.0209849,25.25 11.4265779,24.974981 11.1167232,24.5448922 C10.9480328,24.3107443 10.8919624,24.0772616 10.8919624,23.9665971 C10.8919624,23.5523835 10.556176,23.2165971 10.1419624,23.2165971 C9.72774886,23.2165971 9.39196242,23.5523835 9.39196242,23.9665971 C9.39196242,24.3642833 9.51901107,24.8933267 9.89967772,25.4217048 Z" id="Path-370" sketch:type="MSShapeGroup"></path>
                                    <path d="M28.5,35.25 C28.9142136,35.25 29.25,34.9142136 29.25,34.5 C29.25,34.0857864 28.9142136,33.75 28.5,33.75 L9.5,33.75 C9.08578644,33.75 8.75,34.0857864 8.75,34.5 C8.75,34.9142136 9.08578644,35.25 9.5,35.25 L28.5,35.25 Z" id="Line" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="icontext">Детский праздник</p>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}