.exclusive .l-header__submenu .item:hover > a {
    color: #00e600
}

.exclusive .l-header__actions .order > a {
    background: #00e600
}

.exclusive .l-header .logo-wrapper {
    background-color: #00e600
}

.exclusive .l-section-home {
    background-image: -webkit-linear-gradient(transparent 0%, #232323 70%, #232323 100%), url("../img/exclusive/bgs/bg-top.jpg");
    background-image: linear-gradient(transparent 0%, #232323 70%, #232323 100%), url("../img/exclusive/bgs/bg-top.jpg")
}

.exclusive .l-section-home .b-text-wrapper {
    background: rgba(31, 117, 254, 0.8)
}

.exclusive .l-section-home .b-text-wrapper.b-skew-top:before {
    border-bottom-color: rgba(31, 117, 254, 0.8)
}

.exclusive .l-section-home .b-text-wrapper.b-skew-bottom:after {
    border-top-color: rgba(31, 117, 254, 0.8)
}

.exclusive .l-section-descr {
    background-image: url("../img/exclusive/bgs/bg-descr.jpg");
    background-position: center center
}

.exclusive .l-section-narrow {
    background-image: url("../img/exclusive/bgs/bg-narrow.jpg");
    background-position: 0 -200px
}

.exclusive .l-section-apply {
    background: white;
}

.exclusive input[type="button"], .exclusive input[type="reset"], .exclusive input[type="submit"], .exclusive button, .exclusive .s-button {
    background: #00e600
}

.exclusive .s-title.main-color {
    color: #00e600
}

.exclusive .b-bordered-block {
    border: 3px solid #00e600
}

.exclusive .b-order > .item:before {
    background: #00e600
}

.exclusive .b-carousel .b-carousel__next:hover svg path, .exclusive .b-carousel .b-carousel__next:hover svg polygon, .exclusive .b-carousel .b-carousel__prev:hover svg path, .exclusive .b-carousel .b-carousel__prev:hover svg polygon {
    fill: #00e600
}

.exclusive svg.arrowNext path, .exclusive svg.arrowNext polygon {
    fill: #00e600
}