.kids_sher .l-header__submenu .item:hover>a{color:#ff2b2b}
.kids_sher .l-header__actions .order>a{background:#ff2b2b}
.kids_sher .l-header .logo-wrapper{background-color:#ff2b2b}
.kids_sher .l-section-home{background-image:-webkit-linear-gradient(transparent 0%, #232323 70%, #232323 100%),url("../img/kids_sher/bgs/bg-top.jpg");background-image:linear-gradient(transparent 0%, #232323 70%, #232323 100%),url("../img/kids_sher/bgs/bg-top.jpg")}
.kids_sher .l-section-home .b-text-wrapper{background:rgba(255,43,43,0.8)}
.kids_sher .l-section-home .b-text-wrapper.b-skew-top:before{border-bottom-color:rgba(255,43,43,0.8)}
.kids_sher .l-section-home .b-text-wrapper.b-skew-bottom:after{border-top-color:rgba(255,43,43,0.8)}
.kids_sher .l-section-descr{background-image:url("../img/kids_sher/bgs/bg-descr.jpg");background-position:center center}
.kids_sher .l-section-narrow{background-image:url("../img/kids_sher/bgs/bg-narrow.jpg");background-position:0 -200px}
.kids_sher .l-section-apply{background-image:url("../img/kids_sher/bgs/bg-apply.jpg");background-position:center center}
.kids_sher input[type="button"],.kids_sher input[type="reset"],.kids_sher input[type="submit"],.kids_sher button,.kids_sher .s-button{background:#ff2b2b}
.kids_sher .s-title.main-color{color:#ff2b2b}
.kids_sher .b-bordered-block{border:3px solid #ff2b2b}.kids_sher .b-order>.item:before{background:#ff2b2b}
.kids_sher .b-carousel .b-carousel__next:hover svg path,.kids_sher .b-carousel .b-carousel__next:hover svg polygon,.kids_sher .b-carousel .b-carousel__prev:hover svg path,.kids_sher .b-carousel .b-carousel__prev:hover svg polygon{fill:#ff2b2b}
.kids_sher svg.arrowNext path,.kids_sher svg.arrowNext polygon{fill:#ff2b2b}
.kids_sher .l-section-home .b-text-wrapper{top:65%;}