.yaga .l-header__submenu .item:hover>a{color:#e8793e}
.yaga .l-header__actions .order>a{background:#e8793e}
.yaga .l-header .logo-wrapper{background-color:#e8793e}
.yaga .l-section-home{background-image:-webkit-linear-gradient(transparent 0%, #232323 70%, #232323 100%),url("../img/yaga/bgs/bg-top.jpg");background-image:linear-gradient(transparent 0%, #232323 70%, #232323 100%),url("../img/yaga/bgs/bg-top.jpg")}
.yaga .l-section-home .b-text-wrapper{background:rgba(232,121,62,0.8)}
.yaga .l-section-home .b-text-wrapper.b-skew-top:before{border-bottom-color:rgba(232,121,62,0.8)}
.yaga .l-section-home .b-text-wrapper.b-skew-bottom:after{border-top-color:rgba(232,121,62,0.8)}
.yaga .l-section-descr{background-image:url("../img/yaga/bgs/bg-descr.jpg");background-position:center center}
.yaga .l-section-narrow{background-image:url("../img/yaga/bgs/bg-narrow.jpg");background-position:0 -200px}
.yaga .l-section-apply{background-image:url("../img/yaga/bgs/bg-apply.jpg");background-position:bottom left}
.yaga input[type="button"],.yaga input[type="reset"],.yaga input[type="submit"],.yaga button,.yaga .s-button{background:#e8793e}
.yaga .s-title.main-color{color:#e8793e}
.yaga .b-bordered-block{border:3px solid #e8793e}.yaga .b-order>.item:before{background:#e8793e}
.yaga .b-carousel .b-carousel__next:hover svg path,.yaga .b-carousel .b-carousel__next:hover svg polygon,.yaga .b-carousel .b-carousel__prev:hover svg path,.yaga .b-carousel .b-carousel__prev:hover svg polygon{fill:#e8793e}
.yaga svg.arrowNext path,.yaga svg.arrowNext polygon{fill:#e8793e}